@use "../../../assets/mixins/mixins" as mixins;

.formContainer {
  @include mixins.commonAuthContainer;

  .card {
    @include mixins.cardContainer;
    height: 408px;

    .mainTitle {
      @include mixins.authMainTitle;
      margin: 0 0 6px;
    }

    .mainIcon {
      margin: 2px 0 2px;
    }

    .secondaryText {
      @include mixins.authSecondaryText;
      text-align: center;
      margin: 8px 0 34px;
    }

    .button {
      @include mixins.authSubmitButton;
      margin: 22px 0 22px;

      //применил здесь доп стили т.к. с модуля самой кнопки
      //hover & active почемуто не срабатыва для type='link'

      &:hover {
        background-color: var(--color-accent-300);
      }

      &:active {
        background-color: var(--color-accent-700);
      }
    }
  }
}





