@use "../../../assets/mixins/mixins" as mixins;

.formContainer {
  @include mixins.commonAuthContainer;

  .card {
    @include mixins.cardContainer;
    height: 384px;

    .formBody {
      @include mixins.formContainer;

      .formTitle {
        @include mixins.authMainTitle;
        margin: 12px 0 28px;
      }

      .formInput {
        @include mixins.authInput;
        margin-top: 12px;
      }

      .secondaryText {
        @include mixins.authSecondaryText;
        margin: 12px 0 2px;
      }
    }

    .submitButton {
      @include mixins.authSubmitButton;
      margin: 12px 0 24px;
    }
  }
}




