@use "../../../assets/mixins/mixins" as mixins;

.formContainer {
  @include mixins.commonAuthContainer;

  .card {
    @include mixins.cardContainer;
    height: 420px;

    .formBody {
      @include mixins.formContainer;

      .formTitle {
        @include mixins.authMainTitle;
        margin: 18px 0 28px;
      }

      .avatarContainer {
        width: 100px;
        height: 100px;
      }

      .formInput {
        @include mixins.authInput;
        box-sizing: border-box;
      }

      .secondaryText {
        @include mixins.authSecondaryText;
        margin: 12px 0 2px;
      }

      .submitButton {
        @include mixins.authSubmitButton;
        height: 36px;
        margin: 20px 0 26px;
      }

      .bottomText {
        @include mixins.authBottomText;
        margin: 12px 0 2px;
      }

      .signLink {
        @include mixins.authMainBottomLink;
        margin-bottom: 20px;

      }

    }


  }
}




