@mixin wrapper-styling() {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.wrapperBorder {
  @include wrapper-styling();
   border-top: var(--color-dark-100) 1px solid;
}

.wrapper{
  @include wrapper-styling();
}

.elmentDropDown > * {
  background-color: rgba(255, 255, 255, 0);
}
.elmentDropDown a {
  font-size: 12px;
  padding: 0px;
}
.DropdownMenuItem {
  outline: none;
}
.DropdownMenuItemUser {
  outline: none;
}
.icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.email {
  color: var(--color-dark-100);
}

.useNameAndEmail {
  margin-left: 10px;
}
