@use "../../../assets/mixins/mixins" as mixins;


.toggleGroup {
  @include mixins.toggleGroup;


  &:hover {
    border: 1px solid var(--color-dark-100);
  }

  button {
    @include mixins.toggleButton;
    cursor: pointer;

    &:focus {
      //box-sizing: border-box;
      border: 2px solid var(--color-info-900);
      background-color: transparent;
    }
  }

  .toggleGroupItem {
    //box-sizing: border-box;
    background-color: transparent;
    color: var(--color-light-100);
    @include mixins.toggleItem;

    &:hover {
      color: var(--color-accent-100);
      transition: all 0.5s ease;
    }

    //&:focus {
    //  //box-sizing: border-box;
    //  border: 2px solid var(--info-900, #234E99);
    //  background-color: transparent;
    //}

    &[data-state='on'] {
      background-color: var(--color-accent-500);
      color: var(--violet-11);
    }

    &:focus {
      position: relative;
    }
  }
}

.toggleDisabled {
  @include mixins.toggleGroup;


  button {
    @include mixins.toggleButton;

  }

  .toggleDisabledItem {
    background-color: var(--color-dark-700);
    color: var(--color-dark-300);
    @include mixins.toggleItem;
  }
}

