@forward 'colors';
@forward 'typography';
@forward 'boilerplate';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flexcol {
    display: flex;
    flex-direction: column;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.fWidth {
  width: 100%;
}