@use "../../../assets/mixins/mixins" as mixins;

.DropdownMenuContent {
  border: 1px solid var(--color-dark-300);
  background-color: var(--color-dark-500);
  border-radius: 6px;
  padding: 12px;
  width: 200px;
  position: relative;
  left: -15%;
}

.DropdownMenuContent:after {
  border: 1px solid var(--color-dark-300);
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #333333;
  right: 30%;
  top: -19px;
}

.trigger {
  cursor: pointer;
}