@use "../../assets/mixins/mixins" as mixins;


.cards {
  @include mixins.defaultBorder;
  border-radius: 4px;
  max-width: 420px;
  margin: 80px auto;

  img {
    max-width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  span {
    font-weight: 700;
  }
}

.learnTitle {
  text-align: center;
  margin: 25px 0 40px;
}

.answersCount {
  color: var(--dark-100, #808080);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.rate {
  margin-top: 20px;
}

.radioGroup {
  margin-top: 15px;
}

.questionTitle {
  font-weight: 700;
  margin-bottom: 15px;
  word-break: break-all;

}

.answerList {
  span {
    margin-bottom: 15px;
  }
}

.showAnswContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 10px;
}


.nextAndCloseBtnsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 15px;

  .quitButton {
    margin-top: 15px;
  }

  .nextButton {
    margin-top: 15px;
  }
}

