@use "../../../assets/mixins/mixins" as mixins;

.formContainer {
  @include mixins.commonAuthContainer;

  .card {
    @include mixins.cardContainer;
    height: 548px;

    .formBody {
      @include mixins.formContainer;

      .formTitle {
        @include mixins.authMainTitle;
        margin: 38px 0 6px;
      }

      .formInput {
        @include mixins.authInput;
      }
    }

    .submitButton {
      @include mixins.authSubmitButton;
      margin-top: 56px;
    }

    .bottomText {
      @include mixins.authBottomText;
      margin: 12px 0 2px;
    }

    .signLink {
      @include mixins.authMainBottomLink;
      margin-bottom: 20px;
    }
  }
}




