@use "../../../assets/mixins/mixins" as mixins;

.formContainer {
  @include mixins.commonAuthContainer;

  .card {
    @include mixins.cardContainer;
    height: 548px;

    .formTitle {
      @include mixins.authMainTitle;
      margin-top: 30px;
    }

    .formBody {
      @include mixins.formContainer;


      .formInput {
        @include mixins.authInput;
      }
    }

    .submitButton {
      @include mixins.authSubmitButton;
      margin-top: 56px;
    }

    .bottomText {
      @include mixins.authBottomText;
      margin: 12px 0 2px;
    }

    .signLink {
      @include mixins.authMainBottomLink;
      margin-bottom: 20px;
    }
  }
}




