@mixin input {
  all: unset;
  cursor: text;
  padding: 6px 15px;
  height: 36px;
  border-radius: 2px;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-l);
  border: 1px solid var(--color-dark-300);
  color: var(--dark-100);
  transition: all 0.5s ease;
  box-sizing: border-box;

  &:active {
    border: 1px solid var(--color-light-100);
    outline: none;
    color: var(--color-light-100);
  }

  &:hover {
    border: 1px solid var(--color-dark-100);
  }

  &:focus {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    border: 1px solid var(--color-dark-300);
  }

  &.errorInput {
    border: 1px solid var(--color-danger-300);
    color: var(--color-danger-300);
  }
}

@mixin disabledIcon {
  color: var(--color-dark-300);
}

@mixin inputIcon {
  width: 20px;
  height: 20px;
  color: var(--color-light-100);
  position: absolute;
  cursor: pointer;
  background: transparent;

  &.disabledIcon {
    color: var(--color-dark-300);
  }
}

.fullWidth {
  width: 100%;
}

.inputContainer {
  min-width: 284px;
  //height: 36px;
  flex-shrink: 0;
  position: relative;

  .watchPassButton {
    all: unset;
    @include inputIcon;
    top: 30px;
    right: 12px;

    &:focus-visible {
      outline: var(--outline-focus);
    }
  }

  .label {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: var(--font-size-m);


    &.disabledLabel {
      color: var(--color-dark-300);
    }

    .standard {
      @include input;
    }

    .password {
      @include input;
      padding-right: 38px;
    }

    .search {
      @include input;
      padding: 6px 12px 6px 40px;
    }

    .error {
      color: var(--color-danger-300);
      font-size: var(--font-size-xs);
      position: absolute;
      top: 64px;
    }

    .inputLabelText {
      color: var(--color-dark-100);
    }

  }

  .inputIconsContainer {
    position: relative;

    .inputSearchIcon {
      @include inputIcon;
      color: var(--color-dark-100);
      top: 6px;
      left: 12px;

      &:hover {
        color: var(--color-light-100);
      }

      &:active {
        color: var(--color-accent-100);
      }
    }
  }
}


input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, var(--color-dark-100) 45%, var(--color-dark-100) 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%),
  linear-gradient(135deg, transparent 0%, transparent 43%, var(--color-dark-100) 45%, var(--color-dark-100) 55%, transparent 57%, transparent 100%);

  &:hover {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, var(--color-light-100) 45%, var(--color-light-100) 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(135deg, transparent 0%, transparent 43%, var(--color-light-100) 45%, var(--color-light-100) 55%, transparent 57%, transparent 100%);;
  }

  &:active {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, var(--color-accent-100) 45%, var(--color-accent-100) 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(135deg, transparent 0%, transparent 43%, var(--color-accent-100) 45%, var(--color-accent-100) 55%, transparent 57%, transparent 100%);;
  }
}

/* dark backdrops only */
//это на будущее, когда будет светлая тема
input[type="search"][value="dark"]::-webkit-search-cancel-button {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #000 45%, #000 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%),
  linear-gradient(135deg, transparent 0%, transparent 43%, #000 45%, #000 55%, transparent 57%, transparent 100%);
}
