.container {
  width: 80%;
  max-width: 1280px;
  height: 100%;
  margin: 33px auto;

  .addDeckBtnWrapper {
    display: flex;
    justify-content: flex-end;
  }

}

.menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;

  .tabSwitcher {
    box-sizing: border-box;

  }

  .search {
    //max-width: 300px;
    width: 35% !important;
    //margin: inherit;
    //height: inherit;

  }

  .clearFilter {
    display: flex;
    align-items: center;
    margin-top: 30px;

    .clearFilter > div {
      margin-left: 10px;
    }
  }

}


.pagination {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.iconsRow {
  display: flex;
  justify-content: flex-end;
  // Прижимаем текст к правому краю в последнем ряду, так нужно для иконок
}

.wrapperButton {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}


.coverContainer {
  display: flex;
  align-items: center;

  .coverImage {
    height: 54px;
    width: auto;
    margin-right: 10px;
  }
}