.container {
  width: 80%;
  max-width: 1280px;
  height: 100%;
  margin: 33px auto;

  .addDeckBtnWrapper {
    display: flex;
    justify-content: flex-end;
  }

  .menu {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;

    .tabSwitcher {
      box-sizing: border-box;
    }

    .search {
      width: 36%;

      @media screen and (max-width: 1360px) {
        width: 32%;
      }

      @media screen and (max-width: 1200px) {
        width: 15%;
      }

    }

    .wrapperButton {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;

      .clearFilter {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
        height: 38px;
        box-sizing: border-box;

        .trashIcon {
          margin: 0 10px 2px 0;
        }
      }
    }
  }

  .pagination {
    margin: 20px auto;
    display: flex;
    justify-content: center;
  }

  .iconsRow {
    display: flex;
    justify-content: flex-end;
    // Прижимаем текст к правому краю в последнем ряду, так нужно для иконок
  }

  .coverContainer {
    display: flex;
    align-items: center;

    .coverImage {
      height: 54px;
      width: auto;
      margin-right: 10px;
    }
  }
}