@use "../../assets/mixins/mixins" as mixins;

.container {
  width: 80%;
  max-width: 1280px;
  height: 100%;
  margin: 33px auto;

  .backLinkContainer {
    @include mixins.defaultHover;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;

    .backIcon {
      margin-right: 2px;
    }
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 70px;

  p {
    color: var(--color-dark-100);
  }
}

.coverContainer {
  display: flex;
  align-items: center;

  .coverImage {
    height: 48px;
    width: auto;
    margin-right: 10px;
  }
}

.deckCoverContainer {
  display: flex;
  align-items: center;
  margin-top: 14px;

  .deckCoverImage {
    height: 170px;
    width: auto;
    margin-right: 10px;
  }
}
.cardsInput{
  margin: 20px 0;
}

.pagination {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.tableOptionIcon{
  @include mixins.defaultHover;
  color: var(--color-light-100);
  margin: 0 2px;
}

.dropdownElement {
  color: var(--color-light-100);
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    color: var(--color-accent-100);
  }

  &:active {
    color: var(--color-accent-300);
  }
}

