.container {
  width: 80%;
  max-width: 1280px;
  height: 100%;
  margin: 33px auto;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 70px;

  p {
    color: var(--color-dark-100);
  }
}

.coverContainer {
  display: flex;
  align-items: center;

  .coverImage {
    height: 48px;
    width: auto;
    margin-right: 10px;
  }
}

.deckCoverContainer {
  display: flex;
  align-items: center;
  margin: 24px;

  .deckCoverImage {
    height: 170px;
    width: auto;
    margin-right: 10px;
  }
}
.pagination {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
